body{
    background-color: grey;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    text-align: center;
}
button{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100%;
}


a{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div{
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}